/* Reset default margin and padding */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.container {
    width: 80%;
    margin: auto;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.section {
    padding: 20px;
}

.background-image {
    background-image: url('image/travel.jpg');
    height: 300px; /* Adjust height as needed */
    background-size: cover;
    background-position: center;
}

.search-bar {
    margin-top: 20px;
}

.search-bar input[type="text"] {
    padding: 10px;
    width: 200px;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.results {
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.social-media {
    margin-top: 20px;
}

.social-icon {
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
}
